.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

dist

java-client/*
!java-client/.*
/.idea/.gitignore
/.idea/API.iml
/.idea/vcs.xml
/.idea/modules.xml
/node_modules/*
/dist/*
